body {
    margin:0;
    padding:0;
    font-family:sans-serif;
}
header{
    background:#1dcaff;
    width:100%;
    padding:40px 0;
    color:#36454f;
}
nav ul{
    background-color:#36454f;
    overflow: hidden;
    color:#36454f;
    padding:0;
    margin:0;       
}
nav ul li{
    display:inline-block;
    padding:20px;

}
